@model IEnumerable<Online_Game_store.Models.Game>

@{
    ViewBag.Title = "Games";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GameId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GameId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GameId })
        </td>
    </tr>
}

</table>
